@import "./_variables";
@import "./_base";

// ------------- GENERAL STYLES ------------- //

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 1rem;
}

input {
  font-size: 1rem;
}

body {
  color: #333333;
  line-height: 1.5;
  font-family: Helvetica, Arial, sans-serif;
}

h1,
h2 {
  margin-bottom: $space;
}

label {
  color: #777;
  display: block;
  font-size: 1rem;
  margin-bottom: $space-small;
}

input {
  border: 1px solid #eeeeee;
  outline: none;
  padding: $space-small;
}

button {
  background: #7c5cbf;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 1rem;
  font-weight: $font-weight-medium;
  overflow: hidden;
  padding: $space-small;
  text-overflow: ellipsis;
  text-transform: uppercase;
  transition: background 0.3s ease;
}

.btn {
  background: #333744;
  border-radius: 50%;
  color: #fff;
  height: $space-small * 2;
  padding: 0;
  width: $space-small * 2;
}

.btn:hover {
  background: $gray-dark;
}

.btn:disabled {
  background: $gray-light;
  cursor: default;
}

button + button {
  margin: $space-small / 2;
}

button:hover {
  background: #6b47b8;
}

button:disabled {
  cursor: default;
  background: #7c5cbf94;
}

// ------------- JOIN PAGE STYLES ------------- //

.centered-form {
  align-items: center;
  background: #333744;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100vw;
}

.centered-form__box {
  background: #f7f7fa;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
  margin: 2rem auto;
  padding: $space-large;
  width: 320px;
}

.centered-form button,
.centered-form__box button {
  width: 100%;
}

.centered-form input,
.centered-form__box input {
  margin-bottom: $space;
  width: 100%;
}

// ------------- CHAT PAGE LAYOUT ------------- //

.chat {
  display: flex;
}

.mobile-menu {
  display: none;

  @include media(small) {
    display: flex;
    position: absolute;
    top: $space-small;
    left: $space-small;
    transition-property: color;
  }
  &.active {
    color: #fff;
  }
}

.chat__sidebar {
  background: #333744;
  color: white;
  height: 100vh;
  overflow-y: scroll;
  transition: width $transition-short;
  width: 255px;
  @include media(small) {
    width: 0;

    &.active {
      width: 100%;
    }
  }
}

// ------------- CHAT STYLES ------------- //

.chat__main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  max-height: 100vh;

  @include media(small) {
    &.active {
      display: none;
    }
  }
}

.chat__messages {
  flex-grow: 1;
  overflow-y: scroll;
  padding: $space-large $space-large 0 $space-large;

  @include media(small) {
    padding: $space-large * 2 $space-large 0 $space-large * 2;
  }
}

// ------------- MESSAGE STYLES ------------- //

.message {
  margin-bottom: $space;
}

.message__name {
  font-size: 1rem;
  font-weight: $font-weight-bold;
  margin-right: $space-small;
}

.message__meta {
  color: #777;
  font-size: 1rem;
}

.message a {
  color: #0070cc;
}

// ------------- MESSAGE COMPOSITION STYLES ------------- //

.compose {
  position: relative;

  .btnWrap {
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
  }
}

.compose input {
  border: 1px solid #eeeeee;
  width: 100%;
}

.compose button {
  font-size: 1rem;
}

// -------------CHAT SIDEBAR STYLES ------------- //

.room-title {
  background: #2c2f3a;
  overflow: hidden;
  padding: $space-small $space-large;
  text-overflow: ellipsis;

  @include media(small) {
    padding: $space-large * 1.5 $space-large $space;
  }
}

.list-title {
  margin-bottom: 4px;
  width: max-content;
  padding: $space-small $space-large 0 $space-large;
}

.users,
.rooms {
  font-weight: $font-weight-normal;
  list-style-type: none;
  padding: $space-small $space-large $space-large $space-large;
}

li.switch-room {
  background: $gray-medium;
  border-bottom: 1px solid $gray-light;

  &:hover {
    background: $gray-light;
    border: 1px solid $gray-dark;
  }

  &.disabled {
    pointer-events: none;
  }

  & button {
    background: none;
    color: $gray-dark;
    text-align: left;
    width: 100%;
  }
}

.react-skeleton-load {
  align-items: center;
  display: flex !important; // !important needed for iPhone
  justify-content: center;

  &:after {
    content: "fetching your location";
  }
}

// ------------- TOOLTIPS: none for touch device ------------- //
.tooltiptext {
  @media (hover: none) {
    display: none;
  }
}
@media (hover: hover) {
  .tooltip {
    border-bottom: 1px dotted black;
    display: inline-block;
    position: relative;
  }

  .tooltip .tooltiptext {
    background-color: #555;
    border-radius: 6px;
    bottom: 200%;
    color: #fff;
    font-family: $primary-font;
    font-size: 0.8rem;
    font-weight: $font-weight-medium;
    left: 50%;
    margin-left: -100px;
    opacity: 0;
    padding: 5px 0;
    position: absolute;
    text-align: center;
    text-transform: none;
    transition: opacity 0.3s;
    visibility: hidden;
    width: 120px;
    z-index: 1;
  }

  .tooltip .tooltiptext::after {
    border-color: #555 transparent transparent transparent;
    border-style: solid;
    border-width: 5px;
    content: "";
    left: 50%;
    margin-left: 34px;
    position: absolute;
    top: 100%;
  }

  .tooltip:hover .tooltiptext {
    opacity: 1;
    visibility: visible;
  }
}
